.DS_Store
Gemfile.local
public/assets/*
public/system/*
.sass-cache/
config/remote_api.yml
public/javascripts/translations.js
log
tmp
*.rbc
.bundle
.rvmrc*
.capistrano
*.swp
*.swo
*.rdb
catalog-report.html
statement-plans/
*.sublime-project
*.sublime-workspace
