<html>
  <head>    
    <title>Toprater.com</title>
    <link rel="stylesheet" href="/css/similar.css" />
  </head>

  <body>
    <div class="w700 header">
      <div class="logo"><a href="/"><img src="/img/logo.png"></a></div>
      <div class="slogan">What movies do you like?</div>
      <div class="subslogan">There are 118 reasons for people to like movies, what are yours?</div>
      <div class="search_box">
        <label for="search">Enter your favorite movie</label>
        <input type="text" id="search" name="search" value="Iron Man 3">
        <div class="result">
          <a href="">Iron Man 3(2012)</a>
          <a href="">Iron Man 3(2015)</a>
          <a href="">Iron Man 3(2000)</a>
        </div>
      </div>
    </div>
    <div class="bg_gray">
      <div class="w700 info">
        <img src="/img/kino.jpg">
        <h1><a href="">Iron Man 3(2013)</a></h1>
        <div class="subslogan">If you like this movie, get the reasons why you might like it</div>
        <table>
          <tr>
            <th>Criteria</th>
            <th>Rate*</th>
           </tr>
           <tr>
            <td><a href="" class="criteria">Atmosphere</a></td>
            <td>
              <div class="star_box">
                <div class="no_star"></div>
                <div class="yes_star" style="width: 90%"></div>
                <div class="star"></div>
              </div>
              <span class="rating">4.6 / 5</span>
            </td>
           </tr>
           <tr>
            <td><a href="" class="criteria">beauti</a></td>
            <td>
              <div class="star_box">
                <div class="no_star"></div>
                <div class="yes_star" style="width: 90%"></div>
                <div class="star"></div>
              </div>
              <span class="rating">4.6 / 5</span>
            </td>
           </tr>
           <tr>
            <td><a href="" class="criteria">backstore</a></td>
            <td>
              <div class="star_box">
                <div class="no_star"></div>
                <div class="yes_star" style="width: 90%"></div>
                <div class="star"></div>
              </div>
              <span class="rating">4.6 / 5</span>
            </td>
           </tr>
        </table>
        <div class="note">* — based on user reviews analysis</div>
        <div class="cl"></div>
      </div>
    </div>
    <div class="bg_img">
      <div class="w700">
        <div class="caption_criteria">FIND THE PERFECT MOVIE<br/>WITH THE REASONS THAT MATTER TO YOU  </div>
        <a href="" class="criteria">Atmosphere</a>
        <a href="" class="criteria">backstore</a>
        <a href="" class="criteria">beauti</a>
        <a href="" class="criteria">Atmosphere</a>
        <a href="" class="criteria">backstore</a>
        <a href="" class="criteria">Atmosphere</a>
        <a href="" class="criteria">beauti</a>
      </div>
    </div>
    <div class="w940">
      <div class="more_films">MOVIES YOU MIGHT LIKE</div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013) were found</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013)</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013) were found</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013) were found</a></div>
      </div>
      <div class="card">
        <a href=""><img src="/img/s_movie.jpg"></a>
        <div class="caption"><a href="">Iron Man 3(2013) were found</a></div>
      </div>
      <div class="cl"></div>
      <div class="all_films"><a href="">142 movies</a> were found. Check them out on <a href="">toprater.com</a></div>
    </div>
    <div class="bg_gray">
      <div class="w940">
        <div class="social">TELL FRIENDS YOUR REASONS TO LIKE MOVIES.</div>
        <a href="" class="facebook">
          <span class="icon">d</span>
          <span class="send">Send list to friends on Facebook</span>
          <span class="count">334 shares</span>
        </a>
        <a href="" class="twitter">
          <span class="icon">b</span>
          <span class="send">Send list to friends on Twitter</span>
          <span class="count">334 shares</span>
        </a>
        <a href="" class="google">
          <span class="icon">y</span>
          <span class="send">Send list to friends on Google+</span>
          <span class="count">334 shares</span>
        </a>      
      </div>
    </div>
    <div class="w940 footer">
      <div class="text">
        <a href="/">Toprater</a> is the social choice platform. We've analyzed millions of reviews from all over the world and now are giving you the best.
        <span class="copy">2025&copy; Toprater</span>
      </div>

      <div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </body>
</html>
