h4 Reset your password
= form_tag auth_change_password_path(token: params[:token]) do
  input name="user[password]" type="password" placeholder="New password"
  button.small type="submit" Change password
