.row
  .medium-12.columns
    textarea rows=15 = raw render partial: 'medals/partials/code'
    iframe#widget frameborder=0 src='#{ widget_path(id: params[:id], criteria: State.criteria, filters: State.filters, type: 1, scheme: 'light') }'
