/ TODO a dirty hack
section.wide style="display:none"
  @map-location data-title="#{ @alternative.name }" data-geolat="#{ @alternative.coordinates['lat'] }" data-geolng="#{ @alternative.coordinates['lng'] }"
  @map-canvas
