<script>
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://toprater.com/widget.js';
    script.async = true;
    script.onload = function() {
      TopRater.fetchWidget({{ id }}, {criteria: {{{ criteria }}}, filters: {{{ filters }}}, scheme: '{{ scheme }}'}, '{{ hash }}');
    };
    document.getElementsByTagName('head')[0].appendChild(script);
  })();
</script>
<div id="toprater-award-placeholder-{{ hash }}">
  <a href="https://toprater.com{{ hotelLink }}" target="_blank">{{ hotelName }}</a>
</div>
