/*
 *= require foundation
 *= require bootstrap-tokenfield
 *= require tokenfield-typeahead
 *= require foundation
 *= require nprogress
 *= require introjs
 *= require_tree .
 *= require_self
 */


@import '_mixins'

ul
  margin: 0
  list-style: none

[role=wrapper]
  > section
    padding: 20px 0
    border-bottom: 1px solid #d7d7d7
    &:last-of-type
      border: none

.avatar
  +avatar(40px)

.columns-2
  +columned(2)

.textmass
  font-size: 12px
  *
    font-size: 12px
