/*
 *= require foundation
 *= require_tree .
 *= require_self
 */

ul
  margin: 0
  list-style: none

[role=wrapper]
  padding: 10px 0
  > section
    padding: 20px 0
    border-bottom: 1px solid #d7d7d7
    &:last-of-type
      border: none
