@import variables
@import fonts
@import widgets/criterion
@import widgets/buttons
@import widgets/thumbnail-cards
@import widgets/epic
@import widgets/block-slider

body
  font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif

.index-epic
  // +epic("index_bg.jpg", #fff)
  background: #fff url("../i/old_index_bg.jpg") 0 0 no-repeat
  background-size: cover
  height: 512px
  color: #fff

  h1
    font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 50px
    margin-top: 50px

  h3
    font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 24px

  hr
    border: 1px solid #FFFFFF
    margin: 0 auto
    width: 50px
    margin-top: 20px
    margin-bottom: 20px

  header
    a
      color: #fff

    .logo
      display: block
      width: 190px


  h1, h2, h3, 
    color: #fff

h3
  font-family: "proxima_nova_rgbold", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: bold
  font-size: 30px

h5
  font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: normal

.criterion
  +criterion(10, #666, #fff, #009fde, #fff)
  border: solid 1px #e1e1e1
  display: inline-block

.show-button
  +show-button(13, true)
  margin-top: 10px

  &.active
    +show-button(13)

.compilations
  +full-width-slider(400)

  .preset-card
    +preset-card


//LAYOUT
#start-page
  h2
    font-family: "proxima_nova_rgbold", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: bold


  .row
    max-width: 943px

  section
    border: 0 !important

    &:not(.index-epic)
      &:not(.about)
        margin-bottom: 130px

  section.spheres-preview
    background-color: #f7f7f7
    padding-top: 0 !important
    padding-bottom: 0 !important

    .row
      max-width: 100%


  .sphere-image
    background-size: cover
    background-repeat: no-repeat
    height: 100%
    min-height: 380px
    position: relative

  .preview-block
    min-height: 380px
    padding: 70px 0

  .criteria-block
    
    .subheader
      font-size: 14px
      line-height: 1em
      margin-bottom: 20px

    .criteria
      margin: 0 auto
      width: 400px

      .columns
        padding-left: 0

  .sphere-links-wrap
    display: flex
    height: 100%
    vertical-align: middle
    width: 100%

    .sphere-badge
      color: #2b2c2c
      font-family: "pf_beausans_proregular", "Helvetica Neue", Helvetica, sans-serif
      font-size: 18px
      height: 220px
      margin: auto
      overflow: hidden
      position: relative
      text-align: center
      text-transform: uppercase
      width: 220px
      
      .circle
        background-color: #fff
        border-radius: 10000px
        height: 200px
        left: 10px
        position: absolute
        top: 10px
        transition: 200ms ease-in-out
        width: 200px

      &:hover
        .circle
          transform: scale(1.1)

      a
        color: #2b2c2c
    
    hr
      background-color: #ebebeb
      border: 0
      height: 1px
      margin: 10px auto 5px
      width: 20px 
    
    .sphere-links
      position: relative
      z-index: 10

    .sphere-link
      font-size: 18px
      display: block
      margin: 50px auto 0
      position: relative
      z-index: 10

      img
        display: block
        margin: 30px auto 10px auto
        width: 46px
    
    .additional-links
      display: block

      a
        color: #999
        display: inline-block
        font-size: 12px
        margin: 5px
  
  .arrows-block
    float: right

  .recommend-block
    +block-slider(390)

    line-height: 1em
    
    .slider-elem
      display: inline-block
      margin-right: 20px
      vertical-align: top
      width: 300px


    h5
      font-size: 22px
      line-height: 30px

    a
      color: #009fde
      font-size: 14px
      line-height: 20px  
    
    .recommend-image
      background-size: cover
      border-radius: 5px
      height: 168px
      margin: 15px auto

    hr
      background-color: #d9d9d9
      border: 0
      height: 1px
      margin: 10px 0 5px
      width: 20px 

  .movies-recommend
    +block-slider(390, #fff, #6d6d6d, 22)
    background-color: #2e2e2e
    color: #ccc

    .block-slider-wrapper
      height: 404px
    
    a, h5
      color: #ccc

    h2
      color: #fff

    .left-arrow, .right-arrow
      &:hover
        background-color: #434343
        color: #fff

    .slider-elem
      width: 620px


      .recommend-list
        columns: 4
        -webkit-columns: 4
        -moz-columns: 4
        li
          text-transform: capitalize

          a
            line-height: 1.5em
            white-space: nowrap
            text-overflow: ellipsis

      &.small
        width: 300px

        .recommend-list
          columns: 2
          -webkit-columns: 2
          -moz-columns: 2



    
  .about
    background-color: #009fde
    color: #fff

    h2
      color: #fff

  .about
    padding: 75px 0
    
    >.row
      >.columns
        margin-top: 50px
        
    .description
      margin-bottom: 40px

      p
        font-size: 18px
        line-height: 24px

    .about-button
      +enabled-button(16, transparent, #fff, #fff, #009fde, #fff)
      display: inline-block
      line-height: 1em
      margin-right: 20px
    
    .counts, .spheres
      margin: 0 auto 0 auto
      max-width: 370px 

    .counts
      > div
        display: inline-block
        font-family: "proxima_nova_ththin", "Helvetica Neue", Helvetica, sans-serif
        font-size: 62px
        line-height: 1em
        vertical-align: top

        &.criteria-count
          border-right: 1px solid #33b2e5
          padding-right: 45px

        &.reviews-count
          padding-left: 45px

        small
          display: block
          font-family: "proxima_nova_ltlight", "Helvetica Neue", Helvetica, sans-serif
          font-size: 20px
          line-height: 1em

    .spheres
      margin-top: 25px
      position: relative
      text-align: center

      &:before
        background-color: #33b2e5
        content: ""
        height: 1px
        left: 0
        position: absolute
        top: 12px
        width: 100%

      > span
        background-color: #009fde
        font-size: 14px
        padding: 0 30px
        position: relative
        text-transform: uppercase
        z-index: 10
        
      hr
        background-color: #33b2e5
        border: 0
        height: 1px
        margin: 25px 0
        width: 100%

      .spheres-buttons
        display: inline-block
        margin: 25px 0 5px 0
        text-align: justify
        width: 100%

        &:after
          content: ""
          display: inline-block
          width: 100%
          height: 0
          visibility: hidden

      a.sphere
        border: 1px solid #5ebee4
        border-radius: 2px
        color: #fff
        display: inline-block
        font-size: 12px
        height: 98px
        padding: 20px 0
        text-align: center
        text-transform: uppercase
        width: 98px

        &:hover
          opacity: .6

        img
          display: block
          height: 32px
          margin: 0 auto 12px auto
          width: 33px



      .cs
        span
          font-family: "proxima_nova_ltlight", "Helvetica Neue", Helvetica, sans-serif
          font-size: 24px
          padding: 0 6px

  .popular-block
    +block-slider(428)

  .popular-movies, .popular-hotels
    margin-top: 30px

  .popular-thumb
    +object-preview-card
    margin-right: 40px
  
    .pie-chart-wrapper
      padding-top: 20px

    .intro-pie-chart
      height: 130px
      position: relative
      width: 200px
    
    .chart-text
      font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, sans-serif
      font-size: 30px
      left: 73px
      position: absolute
      top: 44px

  .popular-hotels
    display: none

      

  .popular-chooser
    color: #666

    a
      color: #666



    ul
      border: solid 1px #ebebeb

      &:before, &:after
        display: none

      li
        text-transform: capitalize

        a
          border-left: solid 3px transparent
          margin-left: -1px
          padding: 10px

        &:hover
          a
            border-left: solid 3px #777c80
            margin-left: -1px
    
    .current
      display: inline-block
      text-transform: capitalize

      &:after
        content: "A"
        font-family: "topratericon" !important
        font-style: normal !important
        font-weight: normal !important
        font-variant: normal !important
        text-transform: none !important
        speak: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        float: right
        margin: 5px 0 0 2px
      
      &.open
        &:after
          content: "G"
