@import widgets/criterion
@import widgets/buttons
@import widgets/thumbnail-cards
@import widgets/epic

.index-epic
  +epic("index_bg.jpg", #fff)

.criterion
  +criterion(10, #666, #fff, #009fde, #fff)
  border: solid 1px #e1e1e1
  display: inline-block

.sphere-link
  font-size: 18px
  margin-left: 15px

.show-button
  +show-button(13, true)

  &.active
    +show-button(13, false)

.popular-thumb
  +object-preview-card

.preset-card
  +preset-card

ul.recommend-list
  line-height: 1em
  columns: 2
  -webkit-columns: 2
  -moz-columns: 2
