[role=list]
  .card
    padding: 8px 12px
    border: 1px solid #ddd
    margin-bottom: 20px
    box-shadow: 0 4px 6px #ddd

    h4
      margin: 0

    [role=address]
      font-size: 12px
      margin: 0
