#apple-watch-wrapper
  background-color: blue
  color: #fff

  #logo
    background: transparent url("/i/logo_white.png") 0 0 no-repeat
    display: block
    margin: 0 auto
    height: 54px
    width: 140px

  h1, h3
    text-align: center

  h3
    color: #fff

  .subscribe
    margin: 0 auto
    max-width: 600px

    form
      background-color: rgba(0,0,0,0.5)
      padding: 20px

      label
        color: #fff

