$blue: #009fde
$light-blue: #4dcbde
$dark: #2e3948
$gray-blue: #596c84
$button-green: #80ac3b
$facebook-color: #3b5998
$twitter-color: #5eaade
$googleplus-color: #fe6e4b
$linkedin-color: #0077b5
$rating-blue: #6db4f4

// Rating colors
$green: #85c359
$yellow: #eab74a
$violett: #a191ff
$dark-blue: #355d7f
$orange: #f28852
$sky-blue: #67b8d6
$light-red: #f26d7f
$darker-blue: #364963
$bright-green: #b7cf4e
$pink: #d675b3
