@import colors
@import fonts
@import foundation

//font sizes
$base-font-size: 16px
$larger-font-size: 18px
$title-font-size: 50px
$subtitle-font-size: 24px
$criterionbar-font-size: 14px
$rating-value-font-size: 24px
$review-count-font-size: 31px


$ipath: "../../../i"

=hover
  &:hover
    opacity: .8

=next-slide
  border-radius: 50rem
  background-color: #fff
  font-family: "topratericon" !important
  font-style: normal !important
  font-size: 25px
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  height: rem-calc(51px) 
  text-align: center
  width: rem-calc(51px)

  +hover

  &:before
    content: "A"

=steps-indicator($font-size)
  border: 1px solid $gray-blue
  border-radius: $font-size*2+px
  background-color: transparent
  color: #fff
  cursor: pointer
  display: inline-block
  font-size: $font-size+px
  height: $font-size*2+px
  width: $font-size*2+px
  padding: $font-size/4+px 0
  margin: 0 ($font-size/1.8)/2+px
  text-align: center
  vertical-align: top
  
  &.current
    background-color: #fff
    border: 1px solid #fff
    color: $dark
    cursor: default
    margin: 0 $font-size/1.8/2-2+px


.slide-scroller
  color: #fff
  position: fixed
  top: 50px
  left: 40px
  z-index: 30

  a
    color: #fff
    cursor: pointer
    display: block
    font-size: 23px
    line-height: 23px
    height: 23px
    opacity: 0.5
    position: relative
    text-align: center
    width: 28px
    z-index: 21s

    &#switch-to-find-company
      background: transparent url(#{$ipath}/landings/fc_icon_light.png) 0 0 no-repeat
      color: transparent
      height: 49px
      margin: 5px 0 0 -10px
      opacity: 1
      width: 48px

    &#switch-to-user-company
      background: transparent url(#{$ipath}/landings/cc_icon_light.png) 0 0 no-repeat
      color: transparent
      margin: 5px 0 0 -7px
      opacity: 1
      height: 41px
      width: 40px

    &:hover
      opacity: 1

    &.current
      cursor: default
      font-size: 52px
      opacity: 1

#employers-wrapper
  background-color: $dark
  color: #fff
  font-family: "proxima_nova_rgregular"
  min-width: 1280px
  
  // canvas
  //   -webkit-transform: translatez(0)
  //   -moz-transform: translatez(0)
  //   -ms-transform: translatez(0)
  //   -o-transform: translatez(0)
  //   transform: translatez(0)

  h1
    color: #fff
    font-family: "museo_sans900"
    font-size: $title-font-size
    text-transform: uppercase
    
  h2
    color: #fff
    font-family: "museo_sans700"

  h3
    color: #fff
    font-family: "proxima_nova_rgregular"
    font-size: $rating-value-font-size

  h4 
    color: #fff
    font-family: "proxima_nova_rgregular"
  
  .row
    max-width: 72rem
  
  hr
    border: 0
    background-color: #fff
    height: 1px

  header, section[role=slide]
    padding-left: 100px
    padding-right: 100px
  
  .coming-soon
    position: absolute
    background-color: rgba(0,0,0, .9)
    top: 0
    bottom: 0
    left: 0
    right: 0
    // position: absolute
    // width: 100%
    z-index: 20

    h1
      margin-top: 15% !important
      text-align: center !important


  header
    background-color: $blue
    height: 100vh
    min-height: rem-calc(440px)
    position: relative
    
    h1
      text-transform: uppercase

      a.bwswitch
        border-bottom: 1px dashed #82dcff
        display: inline-block
        height: 60px
        color: #82dcff
        
        &:hover
          border: 0
          color: #fff

        &.current
          background-color: rgba(255,255,255,0.5)
          border-radius: 5px
          color: $blue
          padding: 5px
          padding: 0 5px 5px 5px
          vertical-align: baseline
          line-height: 65px


    .topbar
      margin-bottom: 5vh
      padding: 23px 0 20px

      .toprater-logo
        background: transparent url(#{$ipath}/logo_white.png) 0 0 no-repeat
        color: transparent
        float: left
        height: 54px
        width: 140px

        +hover

      .nyt-logo
        background: transparent url(#{$ipath}/landings/nyt-logo.png) 0 0 no-repeat
        color: transparent
        float: right
        height: 30px
        margin-top: $larger-font-size
        width: 218px

        +hover

    .next-slide
      +next-slide
      color: #000
      display: inline-block
      line-height: rem-calc(51px)
      margin-left: 5rem
      vertical-align: middle


    .about
      font-size: $base-font-size
      line-height: $base-font-size * 1.25

      h4
        text-transform: uppercase
        letter-spacing: 2px

      hr
        height: 1px
        margin: 3vh 0
        opacity: .6
        width: 100px



    .to-mechanics
      color: #fff
      position: absolute
      bottom: 0
      left: 0
      right: 0
      max-width: 100%
      width: 100%
      
      h3
        letter-spacing: 0.1em
        margin-bottom: 20px
        text-transform: uppercase

      .link-to-mechanic
        background-color: $light-blue
        height: 32vh
        min-height: rem-calc(200px)

        .desc
          line-height: 1.2em

        &:first-of-type
          background-color: $dark

          .desc
            color: rgba(255,255,255,0.6)

          >div
            float: right

        >div
          float: left
          max-width: (62.5 / 2) + rem
          padding: 4vh
          width: 100%

        a.button
          background-color: #fff
          color: #000
          font-size: $base-font-size
          margin-top: 20px

          &:hover
            background-color: $button-green

    @media only screen and (max-height : 620px)
      .about
        display: none

    @media only screen and (max-width : 641px)
      .to-mechanics
        .link-to-mechanic
          height: 20vh


  // Rating
  .slide
    height: 100vh
    overflow: hidden

  .employer
    font-size: $larger-font-size
    line-height: 24px
    // padding-top: rem-calc(40px)
    position: relative


    .employer-info, .employer-chart
      margin-top: 10vh
    

    .employer-info
      .desc
        .desc-text
          display: none
          overflow: hidden

        a.showmore
          color: #fff !important
          display: none
          text-decoration: underline

          &:hover
            text-decoration: none

    h2
      font-size: $title-font-size
      margin: 0

    .place
      color: rgba(255,255,255,0.7)
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: $larger-font-size
      font-weight: bold
      margin-bottom: 20px

      span
        color: #fff
    
    .desc
      margin-top: 30px

    .industries
      color: rgba(255,255,255,0.7)
      font-size: $larger-font-size
      line-height: 24px
    
    .employer-chart
      .chart, .info
        display: inline-block
        vertical-align: top

      .chart
        font-family: "Helvetica Neue Bold", "Helvetica", Helvetica, Arial, sans-serif
        font-weight: bold
        height: 250px
        margin-right: 40px
        position: relative
        text-align: center
        width: 250px
        
        .chart-text
          position: absolute
          position: absolute
          top: 73px
          left: 72px

        .percentage
          font-size: 70px
          line-height: 64px
          
            
          small
            display: inline-block
            font-size: 20px
            margin-top: -1em
            vertical-align: top

        span
          font-family: "proxima_nova_rgregular"
          font-size: 16px
          line-height: 20px
          display: block
          text-align: center


      .info
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
        margin-left: 40px

        .switcher
          color: rgba(255,255,255,0.7)
          font-size: 18px
          font-weight: bold
          letter-spacing: 0.1em
          margin: -7.7vh 0 4vh 0

          a
            border-bottom: 1px dashed rgba(255,255,255,0.7)
            color: rgba(255,255,255,0.7)
            display: inline-block
            vertical-align: top

            &:hover
              color: #fff
              text-decoration: none

          a.current
            border: 0
            color: #fff
            cursor: default
            text-decoration: none


        .rating-info
          .current-criterion
            color: rgba(255,255,255,0.7)
            font-family: "proxima_nova_rgbold", sans-serif
            font-size: 14px
            font-weight: bold
            line-height: 20px
            letter-spacing: 0.1em
            margin-bottom: 20px
            text-transform: uppercase

          .value
            color: rgba(255,255,255,0.7)
            font-weight: bold

            &:before
              background: transparent url(#{$ipath}/landings/rating_icon.png) 0 0 no-repeat
              content: " "
              display: block
              float: left
              margin: 27px 10px 0 -26px
              height: 12px
              width: 14px
            
            span, small
              display: inline-block
              vertical-align: top

            small
              font-size: rem-calc(18px)
              line-height: rem-calc(21px)

            span
              color: #fff
              font-size: rem-calc(50px)
              line-height: 0.8em
              margin-right: rem-calc(10px)

        hr
          margin: 40px 0
          opacity: 0.5
          width: rem-calc(150px)
        
        .reviews-count
          >div
            font-size: 16px
            line-height: 20px

            &:first-of-type
              color: rgba(255,255,255,0.5)
              font-family: "proxima_nova_rgregular"


          .count
            color: #fff
            font-size: 31px
            font-weight: bold
            letter-spacing: 0.1em
            margin: 12px 0

            &:before
              background: transparent url(#{$ipath}/landings/review_icon.png) 0 0 no-repeat
              content: " "
              display: block
              float: left
              height: 13px
              margin: 8px 0 0 -27px
              width: 14px
    
    .criterion-bar-chart
      bottom: 0
      left: 0
      position: absolute
      height: 36vh
      width: 100%

      .arrow
        background-color: rgba(255,255,255, 0.5)
        color: #fff
        font-size: 36px
        height: 36vh
        line-height: 38vh
        opacity: .5
        position: absolute
        text-shadow: 0 0 4px #333
        top: 0
        width: 36px
        z-index: 30
        
        &:hover
          opacity: 1

        &.toprater-icon-chevron-left
          left: 0

        &.toprater-icon-chevron-right
          right: 0

      .bar-wrap
        width: 10000px
        position: absolute
        top: 0
        left: 0

        .rating-bar
          background-color: rgba(255,255,255,0.3)
          bottom: 0
          left: 0
          position: absolute
          height: 18vh
          width: 100%

      .links-bar, .criterion-bar
        display: inline-block
        vertical-align: top
        height: 36vh
        width: 300px

      .line-chart
        bottom: -5px
        left: -5px
        right: -5px
        position: absolute

      a.criterion-bar
        background-color: rgba(255,255,255,0.1)
        color: #fff
        font-size: 14px
        height: 36vh
        line-height: 22px
        margin: 0 1px
        padding: 40px 20px 0
        position: relative
        text-transform: uppercase
        width: 200px
        
        &:before
          background-color: rgba(255,255,255,0.3)
          content: "See ratings on this criterion"
          display: none
          font-size: 14px
          height: 54px
          left: 0
          line-height: 16px
          margin-bottom: 1px
          position: absolute
          padding: 12px 20px 12px
          text-transform: none
          top: -55px
          width: 200px


        &:hover
          background-color: rgba(255,255,255,0.3)

          &:before
            display: block

        .name
          font-size: 14
          text-transform: uppercase
          min-height: 44px

        .rating
          font-family: "proxima_nova_ltlight"
          font-size: 22px
          height: 22px
          margin-top: 20px
          text-transform: uppercase

      .links-bar
        background-color: $dark

        >div
          &:hover
            background-color: #293341
        
        a
          color: #ccc
          display: table-cell
          height: 10vh
          font-size: $base-font-size
          line-height: 1em
          padding: 0 20px 0 70px
          vertical-align: middle
          width: 300px

          
          &.toprater-link
            span
              display: none
              height: 12vh
              font-size: 30px
              position: absolute
              right: 0
              line-height: 12.5vh
              top: 0
              width: 28px

            &:hover
              span
                display: block
              
            background: transparent url(#{$ipath}/landings/white_star.png) 23px 3.5vh no-repeat

          &.fc-link
            background: transparent url(#{$ipath}/landings/fc_icon_dark.png) 25px 3.5vh no-repeat

          &.cc-link
            background: transparent url(#{$ipath}/landings/cc_icon_dark.png) 24px 3.5vh no-repeat


        .name
          height: 2em

        .rating
          font-family: "proxima_nova_ltlight"
          font-size: 24px
          margin-top: 22px


    &.employer-0
      background-color: $green

    &.employer-1
      background-color: $yellow
    &.employer-2
      background-color: $violett
    &.employer-3
      background-color: $dark-blue
    &.employer-4
      background-color: $orange
    &.employer-5
      background-color: $sky-blue
    &.employer-6
      background-color: $light-red
    &.employer-7
      background-color: $darker-blue
    &.employer-8
      background-color: $bright-green
    &.employer-9
      background-color: $pink


  // Game
  #employers-find-company
    position: relative
    overflow: hidden
    

    h1
      letter-spacing: 2px
      margin-top: 10vh

    h3
      font-family: "proxima_nova_rgregular"
      font-size: 32px
      letter-spacing: 3px
      margin-top: 8vh

    small
      color: rgba(255,255,255,0.5)
      font-size: 16px
      line-height: 24px
    
    hr 
      opacity: .1
      margin-bottom: 36px

    .full-slide
      position: relative
      width: 100%

    .slide-wrapper
      position: relative
      height: 70vh

      .step
        display: none
        position: absolute
        top: 12vh
        width: 100%

    .important-criteria
      margin: 5vh 0
      
      .criterion-wrapper
        .criterion
          border-radius: 20px 20px 20px 0
          background-color: $gray-blue
          display: inline-block
          color: #fff
          font-size: 14px
          letter-spacing: 1px
          margin: 0 100px 3vh 0
          padding: 8px 15px 7px 15px
          text-transform: uppercase
          text-decoration: none

          &:before
            color: $blue
            display: none
            float: left
            margin: 4px 0 0 -40px
            font-size: 18px
            

          &:hover
            background-color: $blue

            &:before
              display: block
      

          &.picked
            background-color: $blue
    
    .pages-block

      .button
        background-color: $dark
        border: 1px solid $gray-blue
        cursor: default
        color: $gray-blue
        float: right
        padding: 0.7rem 2rem

        &.next, &.ready
          background-color: $button-green
          border: 1px solid $button-green
          color: #fff
          cursor: pointer

      .pagination
        float: left
        
        span
          color: #d5dde1
          display: inline-block
          height: 32px
          line-height: 32px
          margin-right: 20px

        a
          +steps-indicator(16)
          margin-right: 15px

    .industry-chooser
      margin-top: 8vh

      h3
        display: inline-block
        margin-top: 0
        vertical-align: top

      .chooser
        display: inline-block
        margin: -5px 0 0 50px
        font-size: 16px
        vertical-align: top

        .button
          background-color: $gray-blue
          display: table-cell
          height: 62px
          margin: 0
          padding: 5px 25px 5px 20px
          text-align: left
          vertical-align: middle
          width: 270px

          &:before
            float: right
            color: #fff
            font-size: 20px


        #industries-list
          background-color: $gray-blue
          border: 0
          display: none
          font-size: 16px
          max-width: 300px
          margin: 0
          line-height: 44px
          overflow: scroll
          position: relative
          padding: 0
          width: 270px !important
          z-index: 50

          .scrollbar
            background-color: #333
            border-radius: 1000px
            height: 50px
            position: absolute
            right: 5px
            top: 0
            width: 5px

          ul
            position: absolute
            top: 0
            left: 0
          

          a
            color: #fff
            display: block
            padding: 5px 20px

            &:first-of-type
              padding-top: 10px

            &:last-of-type
              padding-bottom: 10px

            &:hover
              background-color: #6a7b91

    #find-company-results
      table
        background-color: transparent
        border-collapse: collapse
        border: 0
        color: #fff
        width: 100%
    
        h3
          margin: 4vh 0
        
        tbody
          tr
            border-bottom: 1px solid $gray-blue

            td
              border: 0
              border-bottom: 1px solid $gray-blue
              color: #fff

              &.reviews-count
                color: rgba(255,255,255, 0.5)
                font-size: 12px
                line-height: 16px
                width: 100px

                &.empty
                  border: 0
                  margin: 0
                  padding: 0
                  width: 0

              &.rating
                color: #72bdff
                font-family: "museo_sans700", Helvetica, sans-serif
                font-size: 30px
                text-align: center

        tfoot
          background-color: transparent

          a
            color: #41a6ff
            font-size: 18px
            line-height: 40px

            +hover

          .restart
            text-align: right

        tr
          background-color: transparent

      
  #employers-user-company
    background-color: $light-blue
    position: relative

    h1
      letter-spacing: 2px
      margin-top: 12vh
    

  footer
    background-color: $dark
    
    .footer-wrap
      margin:  10vh 0 0

    h3
      color: #ccc
      font-size: 32px
      line-height: 70px
      letter-spacing: 1px
    
    form
      border-bottom: 1px solid $gray-blue

      input
        border: 0
        background-color: transparent
        box-shadow: none
        color: $gray-blue
        font-family: "proxima_nova_rgbold", Helvetica, sans-serif
        font-weight: bold
        font-size: 50px
        margin: 0
        height: 64px


      input::-webkit-input-placeholder,
      input:-moz-placeholder,
      input::-moz-placeholder,
      input:-ms-input-placeholder
        color: $gray-blue

      button
        background-color: #fff

